html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* Document Sections */

body {
    margin: auto;
}

header {
    height: 10vh;
}

main  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "cname characteristics characteristics characteristics characteristics exp-points level"
        "hit-points hit-points hit-points saving-throws abilities die-roller die-roller"
        "armor-class speed initiative skills abilities die-roller die-roller"
        "death-saves death-saves hit-dice skills abilities die-roller die-roller"
        "notes notes notes skills abilities die-roller die-roller"
        "notes notes notes miscellany miscellany die-roller die-roller";
    gap: 2px;
    height: 80vh;
}

/* Text Types */

h1 {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 10px;
    padding-left: 0px;
    border-bottom: 2px solid #777777;
}

h3 {
    margin: 10px;
    margin-left: 20px;
    padding: 10px;
    padding-left: 0px;
    border-bottom: 2px solid #777777;
    width:15em;
}

/* Classes - General */

.flex-rows {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-cols {
    display: flex;
    flex-direction: column;
}

/* Classes - Modules */

.module {
    border: 3px solid #b30000;
    background-color: #b3000055;
    padding: 10px;
}

.form-element-label {
    display: block;
    margin: 10px;
    margin-top: 0px;
}

.fixed-width-label {
    display: inline-block;
}

/* Classes - Forms */

input {
    margin-top: 10px;
}

input[type=number] {
    width: 10em;
}

/* Dice Roller Utility */

.die {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 10px 0px;
}

.die-result {
    border: 3px solid #000000;
    background-color: #0000FF33;
    width: 60px;
    height: 60px;
    margin: 0px 0px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    font-family: sans-serif;
}

.roll-button {
    display: block;
    margin: 10px 0px 0px 0px;
}

/* Grid Area Assignments */

#abilities{
    grid-area: abilities;
}

#armor-class {
    grid-area: armor-class;
}

#characteristics {
    grid-area: characteristics;
}

#cname {
    grid-area: cname;
}

#death-saves {
    grid-area: death-saves;
}

#die-roller {
    grid-area: die-roller;
}

#exp-points {
    grid-area: exp-points;
}

#hit-dice {
    grid-area: hit-dice;
}

#hit-points {
    grid-area: hit-points;
}

#initiative {
    grid-area: initiative;
}

#level {
    grid-area: level;
}

#miscellany {
    grid-area: miscellany;
}

#notes {
    grid-area: notes;
}

#saving-throws {
    grid-area: saving-throws;
}
#skills {
    grid-area: skills;
}

#speed {
    grid-area: speed;
}
