html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* Document Sections */

body {
    margin: auto;
}

header {
    height: 10vh;
}

main  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "cname characteristics characteristics characteristics characteristics characteristics skills skills level"
        "hit-points armor-class speed initiative abilities abilities skills skills die-roller"
        "death-saves hit-dice miscellany miscellany abilities abilities skills skills die-roller"
        "notes notes notes notes saving-throws saving-throws skills skills die-roller"
        "notes notes notes notes saving-throws saving-throws skills skills die-roller";
    gap: 2px;
    height: 90vh;
}

/* Element Types */

h1 {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 20px;
    padding: 10px;
    padding-left: 0px;
    border-bottom: 2px solid #777777;
    font-size: 1.3em;
}

h3 {
    margin: 10px;
    margin-left: 20px;
    padding: 10px;
    padding-left: 0px;
    border-bottom: 2px solid #777777;
    width:15em;
}

textarea {
    width: 100%;
    height: 85%;
    margin: 10px;
    margin-left: 0;
    box-sizing: border-box;
}

/* Classes - General */

.flex-rows {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-cols {
    display: flex;
    flex-direction: column;
}

/* Classes - Modules */

.module {
    border: 3px solid #b30000;
    background-color: #b3000055;
    padding: 10px;
}

.form-element-label {
    display: block;
    margin: 10px;
    margin-top: 0px;
}

.fixed-width-label {
    display: inline-block;
}

/* Classes - Forms */

input {
    margin-top: 10px;
}

input[type=number] {
    width: 3em;
    -moz-appearance:textfield;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input.inline {
    display: inline;
}

form[name=notes] {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}


/* Dice Roller Utility */

#dice-container {
    align-items: center;
}

.die {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 120px;
    margin: 10px 0px; 
}

.die-result {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #000000;
    background-color: #0000FF33;
    font-size: 1.65em;
    font-family: sans-serif;
}

.die-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
}

.roll-button {
    display: block;
}

/* Grid Area Assignments */

#abilities{
    grid-area: abilities;
}

#armor-class {
    grid-area: armor-class;
}

#characteristics {
    grid-area: characteristics;
}

#cname {
    grid-area: cname;
}

#death-saves {
    grid-area: death-saves;
}

#die-roller {
    grid-area: die-roller;
}

#exp-points {
    grid-area: exp-points;
}

#hit-dice {
    grid-area: hit-dice;
}

#hit-points {
    grid-area: hit-points;
}

#initiative {
    grid-area: initiative;
}

#level {
    grid-area: level;
}

#miscellany {
    grid-area: miscellany;
}

#notes {
    grid-area: notes;
}

#saving-throws {
    grid-area: saving-throws;
}
#skills {
    grid-area: skills;
}

#speed {
    grid-area: speed;
}
